<p id="notice"><%= notice %></p>

<p>
  <b>Identifier:</b>
  <%= @question.identifier %>
</p>

<p>
  <b>Description:</b>
  <%= @question.description %>
</p>



<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
