<table border="1">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>School</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>
  <% @teachers.each do |t| %>
  <tr>
   <td><%= t.id %></td> 
   <td><%= t.name %></td>
   <td><%= t.school %></td>
   <td><%= t.created_at %></td>
   <td><%= t.updated_at %></td>
  <% end %>
 </tr>
</table>