<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @exam.user_id %>
</p>

<p>
  <b>Question:</b>
  <%= @exam.question_id %>
</p>

<p>
  <b>Level:</b>
  <%= @exam.level %>
</p>

<p>
  <b>Selected answer identifier:</b>
  <%= @exam.selected_answer_identifier %>
</p>


<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
